@charset "UTF-8";
/* textBox 한 줄 높이 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  font-size: 4px;
  color: #7B7b7b;
}

input {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p,
article,
button,
div,
span,
input,
label,
a {
  font-size: 4rem;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #A5C5D6 !important;
}

#app {
  width: 360px;
  background-color: #FAF7F4;
}
#app #wrap {
  width: 328px;
  padding: 30px 0;
  justify-content: center;
  background-color: #FAF7F4;
}
