@charset "UTF-8";
/* textBox 한 줄 높이 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  font-size: 4px;
  color: #7B7b7b;
}

input {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p,
article,
button,
div,
span,
input,
label,
a {
  font-size: 4rem;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #A5C5D6 !important;
}

#app {
  width: 360px;
  background-color: #FAF7F4;
}
#app #wrap {
  width: 328px;
  padding: 30px 0;
  justify-content: center;
  background-color: #FAF7F4;
}

/* textBox 한 줄 높이 */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  font-size: 4px;
  color: #7B7b7b;
}

input {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

p,
article,
button,
div,
span,
input,
label,
a {
  font-size: 4rem;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #A5C5D6 !important;
}

#app {
  width: 360px;
  background-color: #FAF7F4;
}
#app #wrap {
  width: 328px;
  padding: 30px 0;
  justify-content: center;
  background-color: #FAF7F4;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 56px;
}
.bottom-nav a {
  width: 25%;
  border: none;
  font-weight: bold;
  background-color: #EAE7E1;
  color: #2F2F2F;
  text-decoration: none;
  text-align: center;
  line-height: 56px;
}
.bottom-nav a:hover {
  background-color: #A5C5D6 !important;
}

#wrap #searchBox {
  width: 100%;
  background-color: rgba(165, 197, 214, 0.3);
  height: 38px;
  display: flex;
  border-radius: 20px;
}
#wrap #searchBox label {
  flex-grow: 1;
  line-height: 38px;
  text-align: center;
}
#wrap #searchBox #search {
  flex-grow: 2;
  background-color: transparent;
  border: none;
  caret-color: #2F2F2F;
  outline: none;
}
#wrap #searchBox [type=search]::-webkit-search-cancel-button {
  display: none;
}
#wrap #searchBox button {
  border: none;
  flex-grow: 1;
  background-color: transparent;
  width: 20px;
  padding-right: 5px;
  border-radius: 0 20px 20px 0;
}
